.container{
   width: 100%;
   background-color:rgb(33, 33, 33);
}
.control-section{
   padding:50px 100px; 
}
.control-warper{
   width:100%;
    display: flex;
    color: grey;
   
    
}
.control-warper ul { 
   list-style:none; 
   display:flex; 
   padding:0; 
   margin:0 ; 
}
.control-waper ul li { 
   margin-right:5px; 
}
.control-text{
    width: 100%;
    color: grey;
    text-align:left;
 }

 .social-store {
   width:100%; 
   display: flex;
   justify-content: space-between;
   padding: 20px 50px 60px  60px

 } 
 .social-img {

 }

 .social-child {
   height: 50px;
   width: 50px;
   margin: 0 20px;
 } 

 .store-child {
   width: 150px;
   margin : 0 20px;
 }

 