.container{
    background-color: black;
}
.control-warper{
   width:100%;
    display: flex;
    padding-left: 10%;
    color: grey;
}

.control-text{
    width: 100%;
    color: grey;
 }

 .social-store {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 100px 50px

 } 
 .social-img {

 }

 .social-child {
   height: 50px;
   width: 50px;
   margin: 0 20px;
 } 

 .store-child {
  
   width: 150px;
   margin : 0 20px;
 }