.movies-body{
    margin: 60px;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.control-container {
height: 100%;
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.movies-img {
    height: 200px;
}

.movies-title {
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 20px
}

.error {
    margin : 100px 100px;
    font-size : 30px
}
/* .movies-title{
    white-space : nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    width: 70%
    
} */